.search {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  border: solid 1px #ccc;
  border-radius: 14px;
}
.search li {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#clearSearch {
  display: none;
  width: 8px;
}
.search li a {
  height: 100%;
  
}
.search input {
  border: none;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 13px !important;
  height: 26px;
  width: 70%;
    float: left;
}
#search::placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #777777 !important;
}
